<p>
  <a id="my-open-click">Open</a>
</p>

<div id="foo" style="border: 1px solid red;">
  <a id="my-hide-click">Hide</a>
  <p>bar</p>
</div>


<script>
  $("#foo").slideUp();

  $("#my-open-click").click(function(){
    $("#foo").slideDown();
  })

  $("#my-hide-click").click(function(){
    $("#foo").slideUp();
  })
</script>
